* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}

body {
  overflow-x: hidden;
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 1s ease 0s;
  background-color: $color-warning;
  background-image: url('../img/global-bg.jpg');
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;

  @include lg-min {
    padding: 0 $gap;
  }
  @include lg {
    padding: 0 ($gap / 2);
  }
}

a {
  text-decoration: none;
  color: $color-light;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.img-responsive {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

