.widget {
  margin: 0 0 ($gap / 2);
  padding: $gap / 2;
  color: $color-light;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.5);

  h3 {
    margin-top: 5px;
    padding-bottom: 10px;
    letter-spacing: 1.5px;
    border-bottom: 1px solid #333333;
    font-family: $font-header;
    font-weight: 300;
  }
}
