.main-content {
  &__body {
    display: flex;
    margin-top: -7.5px;
    margin-right: -7.5px;
    margin-bottom: 22.5px;
    margin-left: -7.5px;
    flex-wrap: wrap;
  }

  &-item {
    padding: 7.5px;

    @include sm-min {
      flex: 0 0 33.3333%;
    }

    &__wrapper {
      position: relative;
      overflow: hidden;
      border: 5px solid rgba(0, 0, 0, 0.5);
      border-radius: 7px;
    }

    &__title {
      @include text-shadow;
      @include text-shortener;

      position: absolute;
      top: 0;
      left: 0;
      height: $gap;
      margin: 0;
      padding: 7px;
      transition: background-color 0.5s;
      text-align: center;
      letter-spacing: 1px;
      color: $color-light;
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 1rem;
      font-weight: 300;
      line-height: 1em;
    }

    &__excerpt {
      position: absolute;
      top: 210%;
      left: 0;
      width: 100%;
      height: calc(100% - 27px);
      margin: 0;
      padding: $gap / 2;
      transition: top 0.5s ease-out, background-color 0.5s ease-out;
      text-align: center;
    }

    &:hover {
      .main-content-item__excerpt {
        top: $gap;
        color: $color-light;
        background: rgba(0, 0, 0, 0.75);
      }
      h3 {
        color: $color-accent;
        background: rgba(0, 0, 0, 0.75);
      }
    }
  }
}
